# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Vector DB / embeddings
chroma.db/
data/vectorstore/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: large files
*.pdf
*.pptx